body {
    background-color: pink;
}
header {
    background-color: lightseagreen;
    text-align: center;
    margin-top: 120px;
}
.Contact {
    float: right;
    background-color: aqua;
    margin: 0 100px 0 100px;
    position: relative;
    bottom: 100px;
}